.BasicButton {
    /* Reset Default Styles */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    background: none; /* Reset default background */
    border: none; /* Reset default border */
    appearance: none; /* Reset default platform-specific styling  */
    user-select: none;

    /* Guards */
    min-width: min-content; /* Set the minimum width to the minimum width of the content */
    white-space: nowrap; /* Keep text on a single line */

    /* Custom styles */
    transition: filter 0.3s ease;
    padding: 4px 16px;
    border-radius: 4px;
}

.BasicButton.solid:hover {
    filter: brightness(85%);
}

.BasicButton.crimson {
    background-color: #e50914;
    color: white;
}

.BasicButton span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: white;
}