.LandingLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: black;
}

.LandingLayout__header {
    position: relative;
}

.LandingLayout__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: calc(100% - 3rem);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.LandingLayout__nav-item2 {
    display: flex;
    gap: 20px;
}

.LandingLayout__logo-a {
    display: block;
    width: 100px;
}

.LandingLayout__logo-img {
    width: 100%;
    object-fit: contain;
}

.LandingLayout__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../assets/hero.jpg") 50% no-repeat;
    background-size: cover;
    height: 750px;
    position: relative;
    border-bottom: 8px solid #222222;
}

.LandingLayout__hero-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8),
            transparent 60%,
            rgba(0, 0, 0, 0.8));
}

.LandingLayout__hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.LandingLayout__hero-content h1 {
    font-size: 3rem;
    max-width: 900px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

.LandingLayout__hero-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.LandingLayout__main {
    flex: 1;
}

.LandingLayout__footer-accordion {
    width: 100%;
    display: flex;
    justify-content: center;
}

.LandingLayout__footer-CTA-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-bottom: 8px solid #222222;
}

.LandingLayout__footer-component {
    padding: 2em;
    width: 100%;
}

/* Netflix M Breakpoint (tablets, 640px and up) */
@media (min-width: 640px) {
    .LandingLayout__logo-a {
        width: 120px;
    }

    .LandingLayout__nav {
        max-width: calc(100% - 4rem);
    }
}

/* Netflix L Breakpoint (desktop, 960px and up) */
@media (min-width: 960px) {
    .LandingLayout__logo-a {
        width: 120px;
    }

    .LandingLayout__nav {
        max-width: calc(100% - 4rem);
    }
}

/* Netflix XL Breakpoint (large desktop, 1280px and up) */
@media (min-width: 1280px) {
    .LandingLayout__logo-a {
        width: 160px;
    }

    .LandingLayout__nav {
        max-width: calc(84% - 6rem);
    }
}

/* Netflix XLL Breakpoint (large desktop, 1920px and up) */
@media (min-width: 1920px) {
    .LandingLayout__logo-a {
        width: 200px;
    }

    .LandingLayout__nav {
        max-width: calc(66.6% - 6rem);
    }
}
