.Footer__div {
  color: #757575;
  font-size: 0.8125rem;
  width: 100%;
  max-width: 1200px;
}

.Footer__div > div:first-child {
  padding-bottom: 2em;
}

.Links__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.75rem;
}

.Links__grid a {
  color: #757575;
  text-decoration: underline;
}

.Language__component {
  margin-top: 2em;
}

@media screen and (max-width: 768px) {
  .Links__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .Links__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .Links__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
